/*-------------------------------------------------------------------------
| Base
| =========================================================================
| Unclassed HTML elements (type selectors)
-------------------------------------------------------------------------*/
html,
body {
  margin: 0;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1rem;
  border-bottom: 2px solid #eee;
  text-transform: uppercase;
  padding: 5px 0;
  color: #222;
}

