$legend-font-size: 13px;

.legend__item {
  display: block;
  cursor: pointer;
  vertical-align: middle;
  outline-offset: 1px;
}

.legend__item:hover {
  .legend__color {
    border-radius: 1rem;
  }
  .legend__name {
    background-color: #eee;
  }
}

.legend__color {
  height: $legend-font-size;
  width: $legend-font-size;
  margin-right: $legend-font-size/2;
  display: inline-block;
  background-color: #eee;
  vertical-align: middle;
}

.legend__name {
  font-size: $legend-font-size;
  vertical-align: middle;
}

.legend__name text {
  vertical-align: middle;
}