.streamGraphLabel {
  fill: white;
  font-size: 10pt;
}

.legendSample {
  width: 15pt;
}

.streamGraphSlider {
  stroke: black;
  stroke-width: 3;
  stroke-dasharray: (6, 3)
}

#streamGraphDiv svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#streamGraphDiv {
  position: relative;
}

.year-label{
  position: absolute;
  top: 0px;
  right: 0px;
  height: auto;
  width: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
}