/*-------------------------------------------------------------------------
| Tree map
| =========================================================================
| Tree map styling
-------------------------------------------------------------------------*/
.chart {
  display: block;
  margin: auto;
  margin-top: 40px;
}

text {
  font-size: 11px;
}

rect {
  fill: none;
}